<IfModule mod_rewrite.c>
    <IfModule mod_negation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
